.c-item {
    list-style-type: none;
    margin-bottom: 15px;
    min-height: 120px;
    .content {
        border: 1px solid $charcoal;
        border-radius: 5px;
        background-color: $navytrans;
        transition: width linear 0.5s;
        color: $white;
        padding: 15px;
        height: 360px;
        display: block;
        font-size: 0.8em;

        .image {
            width: 100%;
            height: 200px;
            background-size: cover;
            background-position: center;
        }

        .details {
            margin-top: 15px;
            min-height: 80px;
            .name {
                margin-bottom: 5px;
                display: block;
                font-size: 1em;
            }
            .planet {
                font-size: 1em;
            }

        }

        .char-score {
            margin-top: 10px;
            font-size: 1em;
            .glyphicon {
                font-size: 20px;
            }
        }
        &:hover {
            cursor: pointer;
            border: 1px solid $starwarsYellow;
            margin: 0 auto;
        }
    }
}
