.list-group {
    height: 500px;
}

.char-detail-modal {
    width: 50%;
    margin: 0 auto;
    color: $white;
    .modal-content {
        background: $crimsontrans;
        border: 1px solid $white;
        .modal-header {

            .image-thumb {
                width: 100px;
                height: 100px;
                background-size: cover;
                background-position: center;
                display: inline-block;
            }

            .header-details {
                display: inline-block;
                vertical-align: top;
                margin-left: 15px;
            }

            .loader-bar {
                margin-top: 5px;
                margin-right: 20px;
            }

            .close {
                color: $white;
                opacity: 0.9;
            }
        }
        .char-details {
            li {
                font-size: 0.9em;
                .prop {
                    text-transform: capitalize;
                }
                ul {
                    li {
                        list-style-type: square;
                    }
                }
            }
        }

        .posted-comment {
            margin-top: 20px;
        }
        .commentForm {
            .comment {
                margin-top: 20px;
                background-color: transparent;
                border: 1px solid $white;
                padding: 15px;
                width: 100%;
                height: 150px;
                &::placeholder {
                  color: $white;
                  opacity: 1;
                }
            }

            .btn {
                background-color: $red;
                color: $white;
            }
        }
    }
}

/* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        .char-detail-modal {
            margin: 0 auto;
            width: 75%;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {

    }
