.c-item {
    list-style-type: none;
    margin-bottom: 15px;
    min-height: 120px;
    .content {
        border: 1px solid $charcoal;
        border-radius: 5px;
        background-color: $navytrans;
        transition: width linear 0.5s;
        color: $white;
        padding: 15px;
        height: 120px;
        display: block;
        font-size: 12px;
        .name {
            margin-bottom: 5px;
            display: block;
        }
        &:hover {
            cursor: pointer;
            width: 95%;
            margin: 0 auto;
            height: 115px;
        }
        .char-score {
            margin-top: 10px;
            .glyphicon {
                font-size: 20px;
            }
        }
    }
}
