/* fall perspective */
.grid.effect {
	perspective: 1300px;
}

.grid.effect .c-item {
	transform-style: preserve-3d;
}

.grid.effect .c-item.animate {
	transform: translateZ(400px) translateY(300px) rotateX(-90deg);
	animation: fallPerspective .8s ease-in-out forwards;
}

@keyframes fallPerspective {
	100% { transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}
