.search-bar {
    margin: 10px auto 20px;
    .search-input {
        border-radius: 0px;
        border: 1px solid $starwarsYellow;
        background-color: transparent;
        padding: 20px 10px;
        color: $white;
        &::placeholder {
            color: $starwarsYellow;
            letter-spacing: 1.1px;
        }
    }
}
