.search-bar {
    margin: 10px auto 20px;
    .search-input {
        border-radius: 0px;
        border: 1px solid $starwarsYellow;
        background-color: transparent;
        padding: 20px 10px;
        color: $white;
        transition: box-shadow 0.5s 0s ease;
        &::placeholder {
            color: $starwarsYellow;
            letter-spacing: 1.1px;
        }
        &:focus {
            box-shadow: 0px 0px 0px 1px rgba(255, 227, 0, 0.7)
        }
    }
}
