html, body  {
    position: relative;
}

body {
    background-image: url('http://wallpapercave.com/wp/bV3WiYh.jpg');
    background-size: 100%;
    background-color: black;
    background-repeat: repeat;
    font-size: 16px;
}

// Ajax
.loader, .complete-msg {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 40px;
    font-size: 0.875em;
}

.loader {
    img {
        width: 15%;
    }
}

// Errors
.errorMessage {
    width: 250px;
    margin: 100px auto;
}

// backgrounds
.navy-trans-bg {
    background-color: $navytrans;
}

// paddings
.no-pad-right {
    padding-right: 0px !important;
}

.no-pad-right {
    padding-left: 0px !important;
}

// margins
.margin-tb-40 {
    margin: 40px auto;
}
