.load-more-btn {
    width: 200px;
    font-size: 0.750em;
    margin: 20px auto;
    padding: 5px;
    display: block;
    text-align: center;
    color: $starwarsYellow;
    &:hover {
        cursor: pointer;
    }
}

.close-btn {
    background-color: $blue;
    color: $white;
    border: 0px;
}

.submit-btn {
    background-color: $red;
    color: $white;
    &:hover {
        color: $red;
        background-color: $white;
    }
}
