h1, h2, h3, h4 {
    margin-top: 0px;
}

h1 {

}

h2 {

}

h3 {

}


h4 {

}

// text color
.error {
    color: $error;
}
.white {
    color: $white;
}

.navy {
    color: $navy;
}

.starwars-yellow {
    color: $starwarsYellow;
}
