h1, h2, h3, h4 {
    margin-top: 0px;
}

a {
    &:hover {
        color: $white;
    }
}
// text color
.error {
    color: $error;
}
.white {
    color: $white;
}

.navy {
    color: $navy;
}

.starwars-yellow {
    color: $starwarsYellow;
}
