$border-grey: #D7D7D7;
$white: #FFFFFF;
$charcoal: #414141;
$navy: #2a343e;
$red: #960000;
$blue: #040096;
$crimsontrans: rgba(47, 12, 12, 0.8);
$navytrans: rgba(84, 96, 138, 0.5);
$starwarsYellow: #FFE300;
$error: #ec0000;
